body {
  background: #F0F0F0;
}

h1 {
  font-family:'Fraunces',sans-serif;
  padding-left:10%;
  font-size:2rem;
  text-align:left;
  line-height:1;
  margin:auto;
}

.parent {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  padding: 20px;
  background: #F3EAE3;
  color: white;
  margin: 25rem auto 0 auto;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.child {
  border-radius:25px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 40%;
  background: white;
  color: black;
  padding:0px;
  margin: 25rem auto 0 auto;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.product-image{
  width:50%;
  height:100%;
  float:left;
  margin:0;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;
}

.description{
  width:50%;
  height:70%;
  float:right;
}
.product{
  height:5%;
  width:5%;
  margin-left:10%;
  font-family: 'Montserrat', sans-serif;
}

.product-description{
  font-family:'Montserrat', sans-serif;
  text-align:left;
  margin-left: 30px;
  color:gray;
  font-style:bold;
  font-size:1rem;
}

.sale-price{
  float:left;
  padding-top:12%;
  padding-left:5%;
  padding-right:1%;
  font-size:25px;
}
.base-price{
  text-decoration-line:line-through;
  padding-top:15px;
  font-size:20px;
}
.shopping-cart{
  margin-right:10px;
}
.btn {

  position:relative;
  align-items:center;
  background: #083603;
  background-image: -webkit-linear-gradient(top, #083603, #184203);
  background-image: -moz-linear-gradient(top, #083603, #184203);
  background-image: -ms-linear-gradient(top, #083603, #184203);
  background-image: -o-linear-gradient(top, #083603, #184203);
  background-image: linear-gradient(to bottom, #083603, #184203);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #083603;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2d6b03;
  background-image: -webkit-linear-gradient(top, #2d6b03, #08850a);
  background-image: -moz-linear-gradient(top, #2d6b03, #08850a);
  background-image: -ms-linear-gradient(top, #2d6b03, #08850a);
  background-image: -o-linear-gradient(top, #2d6b03, #08850a);
  background-image: linear-gradient(to bottom, #2d6b03, #08850a);
  text-decoration: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding:55rem 0 0 0;
}

.attribution a {
  color:#3e52a3;
}
